.footer {
  width: 100%;
  height: max-content;
  background-color: #f0f0f0;
}
.f_main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  padding: 100px 0;
  .item {
    display: flex;
    flex-direction: column;
    gap: 26px;
    .f_logo {
      width: 167px;
    }
    h3 {
      font-weight: 500;
      font-size: 16px;
    }
    a {
      color: #00000099;
      text-decoration: none;
      font-weight: 400;
      font-size: 16px;
    }
    p {
      font-size: 12px;
      color: #00000099;
      font-weight: 400;
      padding: 10px 0;
    }
  }
}

.f_last {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 40px 0;
}

@media (max-width: 1216px) {
  .f_main {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 892px) {
  .f_main {
    padding: 60px 0;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .f_main {
    padding: 40px 0;
    grid-template-columns: repeat(2, 1fr);
  }
  .f_last {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    text-align: center;
  }
}

@media (max-width: 540px) {
  .f_main {
    grid-template-columns: repeat(1, 1fr);
    .item{
        p{
            font-size: 14px;
        }
    }
  }
}
